<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AssimpNet" version="4.1.0" targetFramework="net45" />
  <package id="Assisticant" version="1.5.2" targetFramework="net45" />
  <package id="Cyotek.Drawing.BitmapFont" version="1.3.4" targetFramework="net45" />
  <package id="HelixToolkit" version="2.6.1" targetFramework="net45" />
  <package id="HelixToolkit.SharpDX.Assimp" version="2.6.1" targetFramework="net45" />
  <package id="HelixToolkit.Wpf.SharpDX" version="2.6.1" targetFramework="net45" />
  <package id="MaterialDesignColors" version="1.1.3" targetFramework="net45" />
  <package id="MaterialDesignThemes" version="2.5.1" targetFramework="net45" />
  <package id="MaterialDesignXaml.DialogsHelper" version="1.0.0" targetFramework="net45" />
  <package id="SharpDX" version="4.2.0" targetFramework="net45" />
  <package id="SharpDX.D3DCompiler" version="4.2.0" targetFramework="net45" />
  <package id="SharpDX.Direct2D1" version="4.2.0" targetFramework="net45" />
  <package id="SharpDX.Direct3D11" version="4.2.0" targetFramework="net45" />
  <package id="SharpDX.Direct3D9" version="4.2.0" targetFramework="net45" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net45" />
  <package id="SharpDX.Mathematics" version="4.2.0" targetFramework="net45" />
</packages>